<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header row">
            <!-- <a class="navbar-brand col-2" href="#">
            </a> -->
    
            <ul class="nav navbar-nav col-10">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About </a></li>
            </ul>
        </div>
    
    </div>
</nav>